@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Exception>

@{
    ViewBag.Title = "Error";
    Layout = "~/desktopmodules/mvc/dtnwidgets/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<p>@Model.ToString()</p>
